<p>
  <%= link_to 'edit', edit_customer_path(customer) %>
  <%= link_to 'x', customer, data:{confirm: 'Are you sure you wish to delete?'}, method: :delete %>
<p>
<h1><%= customer.full_name %></h1>
<p><%= image_tag customer.image, width:250 %></p>
<p><%= customer.phone_number %></p>
<p><%= customer.email %></p>
<p><%= customer.notes %></p>
<p>
  <% if customer.province_id != nil %>
    <p><%= customer.province_id %></p>
  <% else %>
    <p>Province: None</p>
  <% end %>
<%= customer.inspect %>
</p>